default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  timeout: 5000
  user:
  password:

development:
  <<: *default
  database: rabbitmq_consumer_development_<%= ENV['QUEUE_ID'] %>

test:
  <<: *default
  database: rabbitmq_consumer_development_<%= ENV['QUEUE_ID'] %>
